In [8]:
import numpy as np, pandas as pd
import sqlite3 as sql
import os
from dotenv import load_dotenv

In [9]:
load_dotenv()

True

In [10]:
os.getenv('WORKING_DB')

'C:/Users/tomdevine/Desktop/dev/PersonalProjects/letterboxd-app/db/lb-film.db'

In [11]:
def db_info():
    '''
    prints out all of the columns of every table in db
    '''
    db_conn = sql.connect(os.getenv('WORKING_DB'))
    tables = db_conn.cursor().execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
    for table_name in tables:
        table_name = table_name[0] # tables is a list of single item tuples
        table = pd.read_sql_query("SELECT * from {} LIMIT 0".format(table_name), db_conn)
        print(table_name)
        for col in table.columns:
            print('\t' + col)
    db_conn.close()

In [12]:
def get_list_of_tables():
    db_conn = sql.connect(os.getenv('WORKING_DB'))
    tables = db_conn.cursor().execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
    db_conn.close()
    tables = [table[0] for table in tables]
    return tables

In [13]:
def print_table_head(table_name, head=10):
    db_conn = sql.connect(os.getenv('WORKING_DB'))
    display(pd.read_sql_query("SELECT * from {} LIMIT {}".format(table_name, head), db_conn))
    db_conn.close()

In [16]:
for t in get_list_of_tables():
    print(t, ':')
    print_table_head(t)

FILM_YEAR :

   FILM_ID  FILM_YEAR FILM_DECADE
0  f_01ZLI       1995       1990s
1  f_0jWEA       2019       2010s
2  f_02uds       2012       2010s
3  f_01UTC       1987       1980s
4  f_020E4       2002       2000s
5  f_01TBi       1980       1980s
6  f_0t4EQ       2020       2020s
7  f_0099A       2011       2010s
8  f_023zw       2008       2000s
9  f_0lac8       2019       2010s

FILM_LETTERBOXD_STATS :

,FILM_ID,FILM_WATCH_COUNT,FILM_FAN_COUNT,FILM_LIKES_COUNT,FILM_REVIEW_COUNT,FILM_LIST_COUNT,FILM_TOP_250,FILM_RATING,FILM_RATING_COUNT
0,f_01ZLI,676316,579,121051,10453,37604,None,3.56,290288
1,f_0jWEA,2172447,26067,982340,226685,238976,None,4.06,1576387
2,f_02uds,1435485,4088,290821,66138,75439,None,3.58,702367
3,f_01UTC,81244,100,12730,7201,21175,None,3.41,45007
4,f_020E4,400094,6546,129728,57031,111850,None,3.96,264752
5,f_01TBi,49562,194,12744,5334,20047,None,3.59,29363
6,f_0t4EQ,76876,4,8828,11151,7804,None,2.74,52269
7,f_0099A,224117,1122,55945,16726,48648,None,3.84,136085
8,f_023zw,220833,9709,73927,32188,68357,None,4.11,142576
9,f_0lac8,14887,100,4525,2750,5788,None,3.91,11291

FILMS_AVAILABLE_TO_STREAM :

   FILM_ID
0  f_01ZLI
1  f_0jWEA
2  f_02uds
3  f_01UTC
4  f_0t4EQ
5  f_020Z2
6  f_0iE9i
7  f_0kOf0
8  f_0ilUk
9  f_0mHJw

FILM_STREAMING_SERVICES :

   FILM_ID STREAMING_SERVICE_ABBR STREAMING_SERVICE_FULL
0  f_01ZLI                    al4                   All4
1  f_01ZLI                    amp     Amazon Prime Video
2  f_0jWEA                    nfx                Netflix
3  f_02uds                    nfx                Netflix
4  f_01UTC                    ntc                  NowTV
5  f_0t4EQ                    nfx                Netflix
6  f_020Z2                    itv                   ITVX
7  f_0iE9i                    al4                   All4
8  f_0kOf0                    dnp                Disney+
9  f_0ilUk                    al4                   All4

FILM_GENRE :

   FILM_ID FILM_GENRE                    ALL_FILM_GENRES
0  f_01ZLI    fantasy           fantasy/family/adventure
1  f_0jWEA     comedy               comedy/mystery/crime
2  f_02uds  adventure  adventure/fantasy/science-fiction
3  f_01UTC      drama                     drama/thriller
4  f_020E4      drama      drama/thriller/comedy/romance
5  f_01TBi     horror    horror/thriller/science-fiction
6  f_0t4EQ     comedy                             comedy
7  f_0099A   thriller      thriller/mystery/drama/horror
8  f_023zw      drama                              drama
9  f_0lac8      drama                              drama

INGESTED :

   FILM_ID              INGESTION_DATE INGESTION_ERRORS
0  f_01ZLI  2023-04-11 16:00:00.030000             None
1  f_0jWEA  2023-04-11 16:00:03.355117             None
2  f_02uds  2023-04-11 16:00:06.140292             None
3  f_01UTC  2023-04-11 16:01:17.460238             None
4  f_020E4  2023-04-11 16:01:20.000165             None
5  f_01TBi  2023-04-11 16:01:22.755127             None
6  f_03z48  2023-04-11 16:01:24.920095             None
7  f_0t4EQ  2023-04-11 16:01:27.935165             None
8  f_0099A  2023-04-11 16:01:31.045339             None
9  f_023zw  2023-04-11 16:01:33.860260             None

WATCHED :

   FILM_ID
0  f_01ZLI
1  f_01UTC
2  f_020E4
3  f_01TBi
4  f_03z48
5  f_0t4EQ
6  f_0099A
7  f_023zw
8  f_0lac8
9  f_020Z2

WATCHLIST :

   FILM_ID  ADDED_DATE
0  f_02aGO  2021-01-13
1  f_01WVK  2021-01-13
2  f_01WhU  2021-01-13
3  f_01Yzm  2021-01-13
4  f_0207Y  2021-01-13
5  f_01icK  2021-01-13
6  f_01MUW  2021-01-13
7  f_01Ori  2021-01-13
8  f_01Kce  2021-01-15
9  f_021SQ  2021-01-20

FILM_TITLE :

,FILM_ID,FILM_TITLE,FILM_URL_TITLE,LETTERBOXD_URL
0,f_01ZLI,Jumanji,jumanji,https://boxd.it/1ZLI
1,f_01UTC,Fatal Attraction,fatal-attraction,https://boxd.it/1UTC
2,f_020E4,Punch-Drunk Love,punch-drunk-love,https://boxd.it/20E4
3,f_01TBi,Altered States,altered-states,https://boxd.it/1TBi
4,f_03z48,The Fear of God: 25 Years of The Exorcist,,https://boxd.it/3z48
5,f_0t4EQ,Death to 2020,death-to-2020,https://boxd.it/t4EQ
6,f_0099A,The Skin I Live In,the-skin-i-live-in,https://boxd.it/99A
7,f_023zw,"Synecdoche, New York",synecdoche-new-york,https://boxd.it/23zw
8,f_0lac8,Bait,bait-2019,https://boxd.it/lac8
9,f_020Z2,There Will Be Blood,there-will-be-blood,https://boxd.it/20Z2

PERSONAL_RANKING :

   FILM_ID  FILM_POSITION
0  f_027US              1
1  f_027Vw              2
2  f_027Vm              3
3  f_0072s              4
4  f_02aA2              5
5  f_0gnV6              6
6  f_029PA              7
7  f_02awY              8
8  f_02bf0              9
9  f_0294O             10

DIARY :

,FILM_ID,WATCH_DATE,FILM_RATING,TAGS,FIRST_TIME_WATCH,IS_NARRATIVE_FEATURE
0,f_01ZLI,2021-01-01,2.5,,1,1
1,f_01UTC,2021-01-01,4.0,,1,1
2,f_020E4,2021-01-02,3.0,physicalmedia,1,1
3,f_01TBi,2021-01-02,4.0,physicalmedia,1,1
4,f_03z48,2021-01-02,4.0,bbciplayer,1,0
5,f_0t4EQ,2021-01-03,2.5,netflix,1,0
6,f_0099A,2021-01-03,3.0,physicalmedia,1,1
7,f_023zw,2021-01-05,4.0,physicalmedia,1,1
8,f_0lac8,2021-01-07,4.5,physicalmedia,1,1
9,f_020Z2,2021-01-08,5.0,physicalmedia,0,1

RATING_SCALING_DETAILS :

,FILM_RATING_STR,FILM_RATING_BASIC,RATING_COUNT,MAX_RATING,INCREMENT,MAX_POSITION,MIN_POSITION
0,5.0 stars,5.0,37.0,5.00,0.006757,1.0,37.0
1,4.5 stars,4.5,74.0,4.75,0.006757,38.0,113.0
2,4.0 stars,4.0,125.0,4.25,0.004000,114.0,239.0
3,3.5 stars,3.5,178.0,3.75,0.002809,240.0,417.0
4,3.0 stars,3.0,163.0,3.25,0.003067,418.0,580.0
5,2.5 stars,2.5,72.0,2.75,0.006944,581.0,652.0
6,2.0 stars,2.0,40.0,2.25,0.012500,653.0,692.0
7,1.5 stars,1.5,31.0,1.75,0.016129,693.0,723.0
8,1.0 stars,1.0,23.0,1.25,0.021739,724.0,746.0
9,0.5 stars,0.5,2.0,0.75,0.375000,747.0,748.0

PERSONAL_RATING :

   FILM_ID  FILM_RATING_BASIC  FILM_RATING_SCALED  FILM_RATING_PERCENT
0  f_006YA                4.5            4.608108             0.921622
1  f_006YK                5.0            4.918919             0.983784
2  f_0070G                5.0            4.831081             0.966216
3  f_0071a                4.5            4.722973             0.944595
4  f_0071k                4.0            4.014000             0.802800
5  f_0072s                5.0            4.979730             0.995946
6  f_0099A                3.0            2.943252             0.588650
7  f_00CZK                1.0            1.163043             0.232609
8  f_00EDm                3.5            3.497191             0.699438
9  f_00EzY                3.5            3.370787             0.674157