In [22]:
import pandas as pd
from tqdm import tqdm
from tmdbv3api import Collection

import sys
sys.path.insert(0, '../data_prep')
from sqlite_utils import select_statement_to_df, get_from_table

In [23]:
all_collections_statement = """

SELECT COLLECTION_ID, COLLECTION_NAME, COUNT(*) AS FILM_COUNT
FROM FILM_COLLECTIONS
WHERE COLLECTION_ID != -1
GROUP BY COLLECTION_ID

"""

In [24]:
all_collections_df = select_statement_to_df(all_collections_statement)
all_collections_df

      COLLECTION_ID                            COLLECTION_NAME  FILM_COUNT
0                10                       Star Wars Collection           9
1                84                   Indiana Jones Collection           5
2               119           The Lord of the Rings Collection           3
3               131                    Three Colors Collection           3
4               151  Star Trek: The Original Series Collection           6
...             ...                                        ...         ...
1063        1130274                         Salem’s Lot Series           1
1064        1131062                Wong Kar-Wai’s Love Trilogy           3
1065        1135770                           Showa collection           1
1066        1136060                Evil Dead reboot collection           1
1067        1145924                                   人肉搜尋（系列）           1

[1068 rows x 3 columns]

In [25]:
def check_if_tmdb_id_ingested(tmdb_id):
    film_ingested = 0
    if len(select_statement_to_df('SELECT FILM_ID FROM TMDB_ID WHERE TMDB_ID = {}'.format(tmdb_id)).values) == 1:
        film_ingested = 1
    return film_ingested

In [26]:
def get_missing_films(collection_id):
    collection = Collection()
    collection_details = collection.details(collection_id)
    tmp_df = pd.DataFrame([{'TMDB_ID': x.id, 'FILM_TITLE': x.title, 'FILM_YEAR': x['release_date'][:4], 'COLLECTION_ID': collection_id} for x in collection_details['parts']])
    tmp_df['MISSING'] = 1 - tmp_df['TMDB_ID'].apply(check_if_tmdb_id_ingested)
    return tmp_df

In [27]:
all_collection_films = []
bad_collection_ids = []
for collection_id in tqdm(all_collections_df['COLLECTION_ID']):
    try:
        all_collection_films.append(get_missing_films(collection_id))
    except:
        bad_collection_ids.append(collection_id)

  0%|          | 0/1068 [00:00<?, ?it/s]

100%|██████████| 1068/1068 [03:17<00:00,  5.41it/s]

In [28]:
bad_collection_ids

[101471,
 101688,
 102322,
 102452,
 102777,
 102782,
 103190,
 103291,
 103372,
 103573,
 103577,
 104716,
 104830,
 105075,
 105324,
 105625,
 105995,
 106000,
 106498,
 106768,
 107674,
 107725,
 107949,
 108043,
 108125,
 108170,
 108693,
 108804,
 109076,
 109609,
 110021,
 110127,
 111751,
 112399,
 112636,
 113589,
 114783,
 114915,
 115142,
 115225,
 115570,
 115575,
 115762,
 115776,
 115822,
 115838,
 116661,
 116669,
 116847,
 117693,
 117927,
 117952,
 118221,
 119240,
 119674,
 120794,
 121195,
 121938,
 122017,
 122922,
 122952,
 123203,
 123213,
 123218,
 123249,
 123255,
 123256,
 123717,
 123720,
 123724,
 123726,
 123800,
 123932,
 124188,
 124492,
 124881,
 124901,
 124916,
 124930,
 124934,
 124935,
 124949,
 124950,
 124951,
 125570,
 125574,
 126125,
 126209,
 126220,
 126221,
 126580,
 131292,
 131295,
 131296,
 131635,
 131780,
 133352,
 133830,
 133923,
 134897,
 135179,
 135416,
 135466,
 135468,
 135483,
 135489,
 135495,
 135498,
 135501,
 136214,
 136218,
 137696,
 137697,
 138706,
 138908,
 138965,
 138968,
 138971,
 138974,
 140612,
 140758,
 140760,
 140910,
 141086,
 141748,
 142680,
 143755,
 143757,
 144689,
 146534,
 148055,
 149191,
 149704,
 150156,
 151263,
 152544,
 153010,
 155474,
 158038,
 158391,
 159603,
 160468,
 161766,
 163902,
 164394,
 164395,
 164397,
 165369,
 166373,
 166376,
 166378,
 166381,
 166698,
 167613,
 168182,
 168186,
 169452,
 169740,
 170452,
 171439,
 173344,
 173628,
 173710,
 174218,
 174386,
 174407,
 175858,
 177467,
 177675,
 178106,
 178117,
 178654,
 179244,
 179892,
 179919,
 180546,
 182617,
 182813,
 182923,
 185103,
 185682,
 188458,
 192167,
 192174,
 192492,
 192532,
 195441,
 201576,
 201873,
 201930,
 203178,
 203910,
 205029,
 205977,
 207621,
 207632,
 208602,
 209131,
 210006,
 210303,
 211721,
 212279,
 212562,
 215326,
 217704,
 218406,
 219691,
 221111,
 221537,
 221539,
 221544,
 222634,
 222639,
 223564,
 224478,
 224976,
 225961,
 228446,
 228887,
 229932,
 230161,
 230532,
 239430,
 239766,
 241729,
 245129,
 245334,
 247028,
 247294,
 248126,
 248339,
 248534,
 251937,
 254636,
 256287,
 256296,
 256297,
 256322,
 256377,
 256484,
 257053,
 257571,
 257960,
 258664,
 259027,
 259085,
 259401,
 260601,
 261307,
 261382,
 261526,
 261590,
 263866,
 264335,
 264338,
 264434,
 264481,
 266672,
 267922,
 268098,
 270252,
 271668,
 272673,
 275402,
 276838,
 279959,
 280504,
 280562,
 280588,
 283417,
 283579,
 284024,
 284433,
 285130,
 285564,
 286006,
 286023,
 286038,
 286177,
 286948,
 288280,
 289531,
 290933,
 290973,
 291090,
 292068,
 294172,
 294226,
 295130,
 296429,
 296872,
 299748,
 303851,
 304378,
 306031,
 306926,
 306937,
 307637,
 309259,
 312735,
 312977,
 313086,
 313576,
 315560,
 321063,
 325470,
 325798,
 327598,
 327871,
 328073,
 328247,
 330555,
 330605,
 332357,
 334356,
 334563,
 334996,
 338282,
 338327,
 340623,
 344830,
 348843,
 350309,
 351684,
 352789,
 355490,
 357173,
 358930,
 359005,
 363014,
 363369,
 370374,
 370411,
 372257,
 374384,
 374418,
 374509,
 374511,
 374512,
 375228,
 375886,
 376650,
 377545,
 378025,
 378453,
 379475,
 381396,
 382113,
 382238,
 382685,
 383632,
 386382,
 386534,
 386818,
 387219,
 387618,
 391040,
 391860,
 393379,
 394204,
 395556,
 397444,
 397842,
 397854,
 400700,
 401562,
 402074,
 403374,
 404609,
 404825,
 406817,
 410261,
 412680,
 412736,
 419257,
 421904,
 422193,
 422834,
 422837,
 423173,
 424202,
 425175,
 426103,
 427084,
 429234,
 430186,
 430201,
 434270,
 434533,
 435259,
 436295,
 437451,
 438087,
 439053,
 441443,
 442195,
 445332,
 446782,
 448150,
 449462,
 449750,
 452675,
 453993,
 454520,
 456733,
 457550,
 458558,
 464270,
 464308,
 464577,
 465250,
 466318,
 466894,
 468222,
 468552,
 471435,
 473185,
 473843,
 475802,
 476054,
 476066,
 476071,
 476961,
 477962,
 478328,
 479888,
 484312,
 487376,
 487765,
 488924,
 488990,
 489564,
 489724,
 491768,
 491769,
 492896,
 493668,
 495527,
 496796,
 502828,
 506355,
 506918,
 507956,
 508334,
 508783,
 514978,
 515268,
 518165,
 518611,
 519018,
 519457,
 520790,
 521226,
 523855,
 524837,
 525891,
 526380,
 527439,
 528034,
 529533,
 529892,
 530064,
 531241,
 531242,
 531315,
 531330,
 531331,
 531566,
 531799,
 533711,
 534180,
 534652,
 535313,
 535748,
 535790,
 537982,
 539554,
 544669,
 544670,
 545955,
 550457,
 551890,
 553717,
 553902,
 556928,
 557669,
 558216,
 558854,
 559735,
 572498,
 573111,
 573436,
 573693,
 575987,
 578704,
 579913,
 582828,
 583369,
 584320,
 588465,
 591122,
 592064,
 593251,
 595693,
 597142,
 600361,
 604246,
 605516,
 607112,
 607355,
 608101,
 608103,
 609514,
 609766,
 618529,
 619533,
 619537,
 619806,
 623480,
 623911,
 625812,
 625861,
 626517,
 626668,
 627389,
 627517,
 628075,
 629358,
 631194,
 632595,
 633215,
 634390,
 635362,
 635922,
 640872,
 647077,
 652379,
 652696,
 657313,
 660359,
 666337,
 666953,
 668003,
 679341,
 681955,
 685157,
 689974,
 690952,
 694598,
 694606,
 697022,
 699053,
 701402,
 702342,
 702997,
 703821,
 708816,
 709271,
 711707,
 712859,
 715105,
 716198,
 716923,
 718551,
 720879,
 721111,
 721280,
 722961,
 722971,
 723378,
 724848,
 724871,
 725681,
 725873,
 726619,
 726865,
 726869,
 726870,
 726871,
 727089,
 727761,
 728947,
 730098,
 730608,
 731067,
 732461,
 735127,
 735384,
 737031,
 737382,
 742536,
 745329,
 745388,
 746434,
 747168,
 748401,
 748919,
 750822,
 751156,
 751961,
 752992,
 758369,
 760193,
 762458,
 762512,
 763760,
 769423,
 769794,
 773967,
 779062,
 779505,
 783684,
 783869,
 785583,
 785960,
 786095,
 790370,
 797016,
 797576,
 799462,
 806483,
 809185,
 810540,
 813157,
 814228,
 818576,
 823074,
 829314,
 830781,
 831108,
 837007,
 838244,
 840465,
 847029,
 848375,
 848380,
 848922,
 858462,
 861415,
 861429,
 863179,
 863827,
 866148,
 866637,
 868672,
 868884,
 869156,
 869982,
 870234,
 870339,
 876125,
 878240,
 885105,
 891174,
 911076,
 912503,
 913258,
 914493,
 916692,
 916696,
 918082,
 920650,
 923500,
 925565,
 927812,
 928238,
 929336,
 930409,
 931431,
 932200,
 933989,
 934765,
 936268,
 938550,
 939352,
 940323,
 941693,
 944437,
 945475,
 945477,
 945984,
 948485,
 950289,
 955781,
 956687,
 957890,
 960149,
 962619,
 964225,
 968052,
 968080,
 975201,
 975227,
 977159,
 978107,
 978459,
 979262,
 979642,
 979674,
 982638,
 985085,
 985311,
 985432,
 985435,
 986072,
 987044,
 990446,
 991217,
 991356,
 991946,
 995464,
 998794,
 1000386,
 1002775,
 1004630,
 1005134,
 1007218,
 1009678,
 1010712,
 1010901,
 1011336,
 1021155,
 1022790,
 1025281,
 1035153,
 1035433,
 1036499,
 1037405,
 1041695,
 1046516,
 1048282,
 1049530,
 1050245,
 1051005,
 1057876,
 1059494,
 1060344,
 1062882,
 1062948,
 1064555,
 1066522,
 1067501,
 1067970,
 1068899,
 1069584,
 1070774,
 1070848,
 1071118,
 1071588,
 1073029,
 1077146,
 1078456,
 1078477,
 1079486,
 1082658,
 1083017,
 1084247,
 1086324,
 1086359,
 1090373,
 1096727,
 1099094,
 1099297,
 1100067,
 1100788,
 1102372,
 1103488,
 1105385,
 1119879,
 1120657,
 1125292,
 1126392,
 1129084,
 1130274,
 1131062,
 1135770,
 1136060,
 1145924]

In [29]:
all_collection_films_df = pd.concat(all_collection_films).reset_index(drop=True)
all_collection_films_df

,TMDB_ID,FILM_TITLE,FILM_YEAR,COLLECTION_ID,MISSING
0,11,Star Wars,1977,10,0
1,1891,The Empire Strikes Back,1980,10,0
2,1892,Return of the Jedi,1983,10,0
3,1893,Star Wars: Episode I - The Phantom Menace,1999,10,0
4,1894,Star Wars: Episode II - Attack of the Clones,2002,10,0
...,...,...,...,...,...
1104,13654,101 Dalmatians II: Patch's London Adventure,2002,100693,0
1105,10865,Atlantis: The Lost Empire,2001,100965,0
1106,8965,Atlantis: Milo's Return,2003,100965,0
1107,10948,The Fox and the Hound,1981,100970,0
1108,9948,The Fox and the Hound 2,2006,100970,0

In [30]:
MISSING = all_collection_films_df[all_collection_films_df['MISSING'] == 1].reset_index(drop=True)

In [31]:
len(MISSING)

70

In [32]:
MISSING.groupby('COLLECTION_ID').agg({'FILM_TITLE':'count'}).reset_index().sort_values('FILM_TITLE', ascending=False).head(24)

    COLLECTION_ID  FILM_TITLE
14          55428           8
2           12087           5
7           33381           5
9           47814           5
29          96676           3
25          89188           3
10          48188           3
1            8783           3
0            8647           2
32          98435           2
31          97768           2
26          90348           2
21          87214           2
18          86224           2
6           25410           2
13          52988           1
15          86028           1
34          99606           1
33          98853           1
3           12263           1
4           14890           1
30          96850           1
5           19160           1
28          91698           1

In [33]:
all_collection_films_df[all_collection_films_df['COLLECTION_ID']==55428]

,TMDB_ID,FILM_TITLE,FILM_YEAR,COLLECTION_ID,MISSING
730,9975,Curious George,2006,55428,0
731,23903,Curious George 2: Follow That Monkey!,2009,55428,1
732,338103,Curious George 3: Back to the Jungle,2015,55428,1
733,270029,Curious George Swings Into Spring,2013,55428,1
734,263945,Curious George: A Very Monkey Christmas,2009,55428,1
735,256051,Curious George: A Halloween Boo Fest,2013,55428,1
736,627093,Curious George: Royal Monkey,2019,55428,1
737,743904,"Curious George: Go West, Go Wild",2020,55428,1
738,918832,Curious George: Cape Ahoy,2021,55428,1

In [ ]:
MISSING[MISSING['COLLECTION_ID']==1102946]

,TMDB_ID,FILM_TITLE,FILM_YEAR,COLLECTION_ID,MISSING
807,81980,2001 Arizona Diamondbacks: The Official World ...,2001,1102946,1
808,470108,2002 Anaheim Angels: The Official World Series...,2002,1102946,1
809,174849,2003 Florida Marlins: The Official World Serie...,2003,1102946,1
810,58017,2004 Boston Red Sox: The Official World Series...,2004,1102946,1
811,217659,2005 Chicago White Sox: The Official World Ser...,2005,1102946,1
812,715330,2006 St. Louis Cardinals: The Official World S...,2006,1102946,1
813,58021,2007 Boston Red Sox: The Official World Series...,2007,1102946,1
814,61969,2008 Philadelphia Phillies: The Official World...,2008,1102946,1
815,228548,2009 New York Yankees: The Official World Seri...,2009,1102946,1
816,79879,2010 San Francisco Giants: The Official World ...,2010,1102946,1
817,716435,2011 St. Louis Cardinals: The Official World S...,2011,1102946,1
818,197156,2012 San Francisco Giants: The Official World ...,2012,1102946,1
819,251109,2013 Boston Red Sox: The Official World Series...,2013,1102946,1
820,434929,2014 San Francisco Giants: The Official World ...,2014,1102946,1
821,385302,2015 Kansas City Royals: The Official World Se...,2015,1102946,1
822,428160,2016 Chicago Cubs: The Official World Series Film,2016,1102946,1
823,507487,2017 Houston Astros: The Official World Series...,2017,1102946,1
824,571309,2018 Boston Red Sox: The Official World Series...,2018,1102946,1
825,655715,2019 Washington Nationals: The Official World ...,2019,1102946,1
826,773917,2020 Los Angeles Dodgers: The Official World S...,2020,1102946,1
827,926686,2021 Atlanta Braves: The Official World Series...,2021,1102946,1
828,1102971,2022 Houston Astros: The Official World Series...,2022,1102946,1
829,712809,2000 New York Yankees: The Official World Seri...,2000,1102946,1
830,712544,1999 New York Yankees: The Official World Seri...,1999,1102946,1
831,920021,1998 New York Yankees: The Official World Seri...,1998,1102946,1
832,111808,1997 Florida Marlins: The Official World Serie...,1998,1102946,1
833,173446,1996 New York Yankees: The Official World Seri...,1996,1102946,1
834,460851,1995 Atlanta Braves: The Official World Series...,1995,1102946,1
835,716872,1993 Toronto Blue Jays: The Official World Ser...,1993,1102946,1
836,1103003,1992 Toronto Blue Jays: The Official World Ser...,1992,1102946,1
837,1103006,1991 Minnesota Twins: The Official World Serie...,1991,1102946,1
838,716877,1990 Cincinnati Reds: The Official World Serie...,1990,1102946,1
839,556048,1986 New York Mets: The Official World Series ...,1986,1102946,1
840,1125954,1943 New York Yankees: The Official World Seri...,2006,1102946,1
841,1125957,1944 St. Louis Cardinals: The Official World S...,2005,1102946,1
842,1125960,1945 Detroit Tigers: The Official World Series...,2007,1102946,1
843,1125962,1946 St. Louis Cardinals: The Official World S...,2005,1102946,1
844,1125972,1947 New York Yankees: The Official World Seri...,2006,1102946,1
845,1126184,1948 Cleveland Indians: The Official World Ser...,2007,1102946,1
846,555747,1969 New York Mets: The Official World Series ...,1969,1102946,1
847,718132,1984 Detroit Tigers: The Official World Series...,1984,1102946,1
848,716880,1988 Los Angeles Dodgers: The Official World S...,1988,1102946,1
849,716878,1989 Oakland Athletics: The Official World Ser...,1989,1102946,1

In [ ]:
round = -1
increment = 50

In [ ]:
round += 1
MISSING.head(increment*(round+1)).tail(increment)

,TMDB_ID,FILM_TITLE,FILM_YEAR,COLLECTION_ID,MISSING
0,8460,The Skulls II,2002,8647,1
1,10594,The Skulls III,2004,8647,1
2,10380,An American Tail: Fievel Goes West,1991,8783,1
3,31473,An American Tail: The Treasure of Manhattan Is...,1998,8783,1
4,27653,An American Tail: The Mystery of the Night Mon...,1999,8783,1
5,10869,Herbie Rides Again,1974,12087,1
6,12129,Herbie Goes Bananas,1980,12087,1
7,14140,Herbie Goes to Monte Carlo,1977,12087,1
8,14136,The Love Bug,1968,12087,1
9,32643,The Love Bug,1997,12087,1
10,1156227,The Exorcist: Deceiver,2025,12263,1
11,573435,Bad Boys 4,2024,14890,1
12,18948,FernGully 2: The Magical Rescue,1998,19160,1
13,13988,The Art of War II: Betrayal,2008,25410,1
14,24756,The Art of War III: Retribution,2009,25410,1
15,487560,Last Friday,,43563,1
16,14588,After the Thin Man,1936,47814,1
17,14589,Another Thin Man,1939,47814,1
18,14595,Song of the Thin Man,1947,47814,1
19,14594,The Thin Man Goes Home,1944,47814,1
20,14590,Shadow of the Thin Man,1941,47814,1
21,18220,Poison Ivy 2: Lily,1996,48188,1
22,18222,Poison Ivy: The New Seduction,1997,48188,1
23,18223,Poison Ivy: The Secret Society,2008,48188,1
24,37786,Sex and the City 2,2010,50457,1
25,983058,National Treasure 3,,52984,1
26,9255,Hot Shots! Part Deux,1993,52988,1
27,23903,Curious George 2: Follow That Monkey!,2009,55428,1
28,338103,Curious George 3: Back to the Jungle,2015,55428,1
29,270029,Curious George Swings Into Spring,2013,55428,1
30,263945,Curious George: A Very Monkey Christmas,2009,55428,1
31,256051,Curious George: A Halloween Boo Fest,2013,55428,1
32,627093,Curious George: Royal Monkey,2019,55428,1
33,743904,"Curious George: Go West, Go Wild",2020,55428,1
34,918832,Curious George: Cape Ahoy,2021,55428,1
35,12107,Nutty Professor II: The Klumps,2000,86028,1
36,724453,Untitled Dirty Dancing Sequel,,86058,1
37,9513,Garfield: A Tail of Two Kitties,2006,86115,1
38,47743,The Saint in New York,1938,86224,1
39,45571,The Saint's Double Trouble,1940,86224,1
40,31723,Women in Trouble,2009,86668,1
41,893060,The Boondock Saints III,,87186,1
42,18500,The Sandlot 2,2005,87214,1
43,21138,The Sandlot: Heading Home,2007,87214,1
44,57089,Hoodwinked Too! Hood VS. Evil,2011,87255,1
45,12310,The Four Musketeers,1974,87631,1
46,269650,Appleseed Alpha,2014,87800,1
47,34388,Funeral in Berlin,1966,89188,1
48,37237,Bullet to Beijing,1995,89188,1
49,23608,Midnight in Saint Petersburg,1996,89188,1